<?php
$this->headLink()->appendStylesheet($this->baseUrl() . "/modules/default/css/form.css");

$this->headLink()->appendStylesheet($this->baseUrl() . "/modules/default/css/jqueryui.css");
$this->headLink()->appendStylesheet($this->baseUrl() . "/includes/multiselect/css/ui.multiselect.css");

$this->headScript()->appendFile($this->baseUrl() . '/includes/jquery-ui.min.js');
$this->headScript()->appendFile($this->baseUrl() . '/includes/multiselect/js/plugins/localisation/jquery.localisation-min.js');
$this->headScript()->appendFile($this->baseUrl() . '/includes/multiselect/js/plugins/scrollTo/jquery.scrollTo-min.js');
$this->headScript()->appendFile($this->baseUrl() . '/includes/multiselect/js/ui.multiselect.js');

// Help
$this->headScript()->appendFile($this->baseUrl() . '/includes/colorbox/jquery.colorbox-min.js');
$this->headLink()->appendStylesheet($this->baseUrl() . "/includes/colorbox/colorbox.css" );

$title = new Snep_Title("Entries");
echo $title->getHtml();
echo Snep_Bar::get(
        $this->translate("Edit Pickup Group"), 
        $this->translate("Pickup Groups"), 
        $this->baseUrl() . "/index.php/default/pickup-groups",
        'config',
        NULL,
        True);

echo $this->form;
?>
<div style='display:none'>
    <div id='inline_content'>
        <h2>Cadastrar Grupos de Captura</h2>
        <p>Essa rotina é usada para criação de grupo de capturas no Snep.</p>
        <p>
            Os  Grupos de Captura fazem parte do Cadastro de um Ramal e ajudam a 
            determinar o Ramais que poder&atilde;o capturar liga&ccedil;&otilde;es 
            entre si.
        </p>
        <p>
            <strong>Seleção de Ramais</strong> : É possivel, ao criar um grupo, 
            que você selecione os ramais que farão parte do mesmo.
        </p>
        <p>
            <strong>Ramais Disponíveis</strong> : Contém a relação de ramais
            disponíveis no sistema. Cada ramal possue o atual grupo a que ele 
            pertence entre parênteses:
        </p>
    </div>
</div>

<?php
$buttons = new Snep_Buttons();
$buttons->addOption('save', 'snep_form', true);
$buttons->addOption('cancel', $this->baseUrl() . '/index.php/pickup-groups/');
echo $buttons->getHtml();
?>

<style>
    .ui-multiselect{
        border:solid 1px #DDD;
        border-radius:5px;
        padding: 2px;
        background-color: #FFF;
        margin-left: 0px !important;
    }
</style>

<script type="text/javascript">

    $(document).ready(function() {
        $(".more_description").click(function(e) {
            $('.description_form').animate({height: "100%", }, 500);
            $("#text_description").show();
            $(".less_description").show();
            $(".more_description").hide();
            e.preventDefault();
        });
        $(".less_description").click(function(e) {
            $(".description_form").animate({height: "100%", }, 500);
            $("#text_description").hide();
            $(".more_description").show();
            $(".less_description").hide();
            e.preventDefault();
        });
    })
</script>
