<?php
    $this->headLink()->appendStylesheet($this->baseUrl() . '/modules/default/css/form.css');
    // Help
    $this->headScript()->appendFile($this->baseUrl() . '/includes/colorbox/jquery.colorbox-min.js');
    $this->headLink()->appendStylesheet($this->baseUrl() . "/includes/colorbox/colorbox.css" );

    $title = new Snep_Title("Settings");
    echo $title->getHtml();
    echo Snep_Bar::get(
            $this->translate("Edit Sound Files"),  
            $this->translate("Sound Files"), 
            $this->baseUrl()."/index.php/default/sound-files",
            'config',
            NULL,
            True);
	
    if ($this->error['error']) :
       echo "<div class='error_box'>".$this->error['message']."</div>";
    endif;
    echo $this->form;
?>
<div style='display:none'>
    <div id='inline_content'>
        <h2>Arquivos de Sons - Alterar</h2>
        <p>Esta rotina permite:</p>
        <p><strong>Alterar um Arquivo de Som:</strong></p>
        <ul>
            <li> Selecione o arquivo a partir
                do bot&atilde;o [Escolher/Selecionar Arquivo], ajuste o campo 
                "Descri&ccedil;&atilde;o" e defina se &eacute; um arquivo do 
                Asterisk ou de uma URA (Unidade de resposta Aud&iacute;vel).
                Informe se o arquivo deve ou n&atilde;o ser convertido para o formato GSM.
            </li>
        </ul>
    </div>
</div>
<?php
    $buttons = new Snep_Buttons();
    $buttons->addOption('save', 'snep_form', true);
    $buttons->addOption('cancel', $this->baseUrl().'/index.php/sound-files/');
    echo $buttons->getHtml();
    
?>

<script type="text/javascript">

    $(document).ready(function() {
        $(".more_description").click(function(e) {
            $('.description_form').animate({height: "100%", }, 500);
            $("#text_description").show();
            $(".less_description").show();
            $(".more_description").hide();
            e.preventDefault();
        });
        $(".less_description").click(function(e) {
            $(".description_form").animate({height: "100%", }, 500);
            $("#text_description").hide();
            $(".more_description").show();
            $(".less_description").hide();
            e.preventDefault();
        });
    })
</script>
