<!DOCTYPE html><html>
<head>
<link href="<?php echo $this->baseUrl()?>/modules/default/css/agi_rules.css" media="screen" rel="stylesheet" type="text/css" >
<link href="<?php echo $this->baseUrl()?>/modules/default/css/form.css" media="screen" rel="stylesheet" type="text/css" >
<link href="<?php echo $this->baseUrl()?>/modules/default/css/route.css" media="screen" rel="stylesheet" type="text/css" >
<link href="<?php echo $this->baseUrl()?>/modules/default/css/services.css" media="screen" rel="stylesheet" type="text/css" >


<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >    
<script type="text/javascript" src="<?php echo $this->baseUrl()?>/includes/javascript/snep-env.js.php"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl()?>/includes/javascript/prototype.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl()?>/includes/javascript/functions.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl()?>/includes/javascript/scriptaculous/src/scriptaculous.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl()?>/includes/javascript/snep.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl()?>/includes/javascript/agi_rules.js"></script>
<script type="text/javascript" src="<?php echo $this->baseUrl()?>/includes/jquery-1.7.2.js"></script>
</head>
<body>

<?php 

$this->headScript()->appendFile( $this->baseUrl() .'/includes/javascript/scriptaculous/lib/prototype.js');
$this->headLink()->appendStylesheet($this->baseUrl() . '/modules/default/css/form_config.css');

echo $this->form; 
?>

<script type="text/javascript">
    jQuery.noConflict();
    jQuery(document).ready(function() {
        jQuery(".more_description").click(function(e) {
            jQuery('.description_form').animate({height: "100%", }, 500);
            jQuery("#text_description").show();
            jQuery(".less_description").show();
            jQuery(".more_description").hide();
            e.preventDefault();
        });
        jQuery(".less_description").click(function(e) {
            jQuery(".description_form").animate({height: "100%", }, 500);
            jQuery("#text_description").hide();
            jQuery(".more_description").show();
            jQuery(".less_description").hide();
            e.preventDefault();
        });
    })
</script>    
    
<script type="text/javascript">
    <?php echo $this->rule_actions; ?>

    var group_list = <?php echo $this->group_list; ?>;
    var alias_list = <?php echo $this->alias_list; ?>;
    var trunk_list = <?php echo $this->trunk_list; ?>;
    var contacts_group_list = <?php echo $this->contact_groups_list; ?>;

    var str_any = "<?php echo $this->translate("Any"); ?>";
    var str_regex = "<?php echo $this->translate("Regular Expression"); ?>";
    var str_group = "<?php echo $this->translate("Extension Group"); ?>";
    var str_contacts_group = "<?php echo $this->translate("Contact Group"); ?>";

    var str_ramal = "<?php echo $this->translate("Extension"); ?>";
    var str_trunk = "<?php echo $this->translate("Trunk"); ?>";
    var str_s     = "<?php echo $this->translate("No Destiny"); ?>";
    var str_alias = "<?php echo $this->translate("Expression Alias"); ?>";

    window.onload = function() {
        origObj = new MultiWx('orig', SrcField);        
        <?php echo $this->dt_agirules["src"]; ?>
        origObj.render();

        dstObj = new MultiWx('dst', DstField);
        <?php echo $this->dt_agirules["dst"]; ?>
        dstObj.render();

        timeObj = new MultiWx('time', TimeField);
        <?php echo $this->dt_agirules["time"]; ?>
        timeObj.render();
    }

    function atualizaValues() {
        $('srcValue').value  = origObj.getValue();
        $('dstValue').value  = dstObj.getValue();
        $('timeValue').value = timeObj.getValue();
    }

    Event.observe($('snep_form'), 'submit', atualizaValues);

    
</script>
</body>
</html>