<?php

    $this->headLink()->appendStylesheet($this->baseUrl() . '/modules/default/css/form.css');
    $this->headLink()->appendStylesheet($this->baseUrl() . '/modules/default/css/route.css');

    // Help
    $this->headScript()->appendFile($this->baseUrl() . '/includes/colorbox/jquery.colorbox-min.js');
    $this->headLink()->appendStylesheet($this->baseUrl() . "/includes/colorbox/colorbox.css" );

    $title = new Snep_Title("Routing");
    $title->addOption('simulator', $this->baseUrl()."/index.php/default/simulator");
    echo $title->getHtml();
    echo Snep_Bar::get(
            $this->subTitle,  
            $this->translate("Routes"), 
            $this->baseUrl()."/index.php/default/route",
            $this->class,
            NULL,
            True);
?>
<div style='display:none'>
    <div id='inline_content'>
        <h2>Regras de negócio - Incluir/editar</h2>
        <p>
            Esta rotina permite que uma Regra de Negócios seja Cadastrada ou 
            Alterada. 
        </p>
        <ul>
            <li><strong>Descrição</strong> Nome de identificação da regra.</li>
            <li><strong>Origem</strong> Origem da regra.</li>
            <li><strong>Destino</strong> Destino da regra .</li>
            <li><strong>Opções de origem e destino:</strong>
                <ul>
                    <li><u>Expressão Regular:</u> Expressão no padrão "Dialplan 
                    Asterisk" queirá verificar se o número de origem da chamada "casa". 
                    Exemplos:0800X. ­> Números que iniciem com "0800";
                    [7­9]X. ­> Números que iniciem com “7, 8 ou 9” ;</li>
                    <li><u>Qualquer:</u>Qualquer número.</li>
                    <li><u>Grupo de ramal:</u>Um Grupo de Ramal entre os 
                    cadastrados no sistema.</li>
                    <li><u>Grupo de contato:</u>Um grupo de contato entre os 
                    cadastrados no sistema.</li>
                    <li><u>Ramal:</u>Define o número de um Ramal.</li>
                    <li><u>Aliás de expressão regular:</u>Um Alias de Expressão 
                    cadastrado no sistema</li>
                    <li><u>Tronco:</u>Permite escolher  um tronco dentre os 
                    cadastrados no sistema</li>
                </ul>
            </li>
            <li><strong>Dias da semana:</strong> Determina os dias da semana 
                que a regra será válida.</li>
            <li><strong>Tempos válidos:</strong> Define os horários que a regra 
                deve ser aplicada.</li>
            <li><strong>Gravação:</strong> Define se as chamadas que passarem pela 
                regra deverão ser gravadas ou não.</li>
            <li><strong>Prioridade:</strong> Existem 6 níveis de prioridade(0 a 5). 
                Quanto MAIOR o nível, MAIOR será a prioridade de execução.</li>
        </ul>
        <h2>Ações da regra</h2>
        <ul>
            <li>
                <strong>Defina Centro de custos:</strong> Define o centro de custos 
                que será usado para gravar o registro da chamada para visualização 
                no relatório.
            </li> 
            <li><strong>Desviar para contexto:</strong> Envia a ligação para um 
                contexto do dialplan do Asterisk. Essa opção é usada para a 
                customização de algum comportamento em um nível mais baixo.Também é 
                usada para a criação de URA/IVR.<br></li>
            <li><strong>Discar para ramal:</strong> Encaminha a ligação para um 
                ramal cadastrado no SNEP.
                <ul>
                    <li><u>Ramal:</u> Define o número do ramal para o qual as chamadas serão 
                    destinadas.</li>
                    <li><u>Dial timeout:</u> Tempo que o sistema tentará passar uma chamada para 
                    o Ramal, em caso de Não atender.</li>
                    <li><u>Flags de controle:</u>w = permite solicitar gravação da chamada (*77)
                    <br>t = permite solicitar transferência da chamada<br>k = permite 
                    estacionamento da chamada.</li>
                    <li><u>Diferenciar toque:</u> Diferencia o toque de chamadas internas e 
                    externas.</li>
                    <li><u>Permitir voicemail:</u> Usa voiceMail para o ramal(desde que definido 
                    no cadastro do ramal).</li>
                    <li><u>Não transbordar:</u> Não deixa chamada transbordar.</li>
                </ul>
            </li>
            <li><strong>Discar para tronco:</strong> A ligação será direcionada para
                um tronco tentando alcançar o destino da ligação.
                <ul>
                    <li><u>Tronco:</u> Define o tronco para o qual as chamadas serão 
                    destinadas.</li>
                    <li><u>Dial timeout:</u> Tempo que o sistema tentará passar uma 
                    chamada para o tronco.</li>
                    <li><u>Flags de controle:</u> w = permite solicitar gravação da
                    chamada (*77)<br> t = permite solicitar transferência da chamada.</li>
                    <li><u>Omitir origem:</u> Em troncos GSM , omite o callerid que 
                    identifica a origem da chamada.</li>
                    <li><u>Email de alerta:</u> E­mail que receberá alertas a cada 
                    vez que este tronco for usado.</li>
                </ul>
            </li>
            <li><strong>Email:</strong> Envia e-mail toda vez que regra é utilizada.</li>
            <li><strong>Enviar para fila:</strong> Coloca a ligação em uma fila de chamadas.</li>
            <li><u>Fila:</u> Fila cadastrada no sistema.</li>
            <li><u>Timeout na fila:</u> Tempo que a chamada irá aguardar na Fila até 
            que transborde para a próxima ação ou então seja cancelada.</li>
            <li><strong>Executar a aplicação:</strong> Executa uma aplicação do asterisk.</li>
            <li><strong>Loop:</strong> Gera um loop nas ações. Toda vez que essa ação for chamada ela direciona o 
            fluxo da execução das ações para o índice da ação definido em sua configuração. 
            Ela também pede que seja definido o número de vezes em que o loop será executado.</li>
            <li><strong>Pedir senha:</strong> Essa ação pede uma senha para o originador. Se não for definida na própria 
            ação , a senha será obtida do cadastro do originador (ramal de origem) se ele 
            for um ramal do SNEP.</li>
            <li><u>Substitui o ramal de origem com o escolhido:</u> Se ativado irá 
            solicitar ao chamador o código e senha de um ramal previamente cadastrado.</li>
            <li><u>Senha Estática:</u> Define uma senha única para liberar chamadas 
            que passarem por esta ação.</li>
            <li><strong>Reescrever pedido:</strong> Edita uma requisição sendo possível 
                modificar a origem ou o destino da ligação. É possível "cortar" o 
                número de origem/destino usando o "|" (pipe) para definir até que 
                ponto o número será cortado. ex: 0XX|XX. será cortado o 0XX ficando 
                somente os números a partir do terceiro carácter. Essa ação também 
                permite adicionar um prefixo e sufixo ao numero original.</li>
            <li><u>Editar:</u> Define se será alterado o número de origem ou de destino.</li>
            <li><u>Cortar:</u> Define se haverá corte no número de origem ou destino. 
            O corte é proporcionado pelo uso do pipe (“|”) em expressões regulares e 
            permite que tudo o que estiver à esquerda deste caractere seja desprezado.</li>
            <li><u>Substituir:</u> Substitui a Origem ou Destino pelo conteúdo informado.</li>
            <li><u>Prefixo:</u> Anexa ao INÍCIO do Número de Origem ou Destino o 
            conteúdo informado.</li>
            <li><u>Sufixo:</u> Anexa no FIM do Número de Origem ou Destino o conteúdo informado.</li>
            <li><strong>Restaurar pedido:</strong> Restaura a requisição aos seus 
                valores inciais. Reverte as modificações das outras ações desse grupo.</li>
            <li><u>Restaurar origem:</u> Restaura o número de Origem alterado pela 
            ação anterior (Reescrever).</li>
            <li><u>Restaurar destino:</u> Restaura o número de Destino alterado pela
            ação anterior (Reescrever).</li>
            <li><strong>Tocar áudio:</strong> Permite tocar  um  áudio que  esteja 
                na  Lista.</li>
        </ul>
    </div>
</div>


<iframe src="<?php echo $this->baseUrl() ?>/index.php/route/<?php echo str_replace('-', '/', $this->action); ?>" style="width:100%; border:none; overflow: hidden;"></iframe>


 <?php
    $buttons = new Snep_Buttons();
    $buttons->addOption('save', 'snep_form', true);
    $buttons->addOption('cancel', $this->baseUrl().'/index.php/route/');
    echo $buttons->getHtml();
 ?>
 
 <script type="text/javascript">

 	var interval = setInterval(function(){
 		$('iframe').height($('iframe').contents().find('body').height());
 		$('iframe').contents().find('#goto').each(function(){
 	 		$(window.document.location).attr('href',$(this).html());
 	 		clearInterval(interval);
 		});
	}, 10 );
 
	$(".buttons .option").eq(0).click(function(){
		$('iframe')[0].contentWindow.atualizaValues();
		$('iframe').contents().find('#snep_form').submit();
	});
	
 </script>