<?php
$this->headLink()->appendStylesheet( $this->baseUrl() . "/modules/default/css/form.css" );
// Help
$this->headScript()->appendFile($this->baseUrl() . '/includes/colorbox/jquery.colorbox-min.js');
$this->headLink()->appendStylesheet($this->baseUrl() . "/includes/colorbox/colorbox.css" );
$title = new Snep_Title("Settings");
echo $title->getHtml();
echo Snep_Bar::get(
        $this->translate("Delete"),  
        $this->translate("Music on Hold Sessions"), 
        $this->baseUrl()."/index.php/default/music-on-hold",
        NULL,
        NULL,
        True);
?>

<div style='display:none'>
    <div id='inline_content'>
        <h2>Sessão de música em espera - Exclusão</h2>
        <p>Esta rotina permite que uma sessão de música em espera seja excluida.</p>
    </div>
</div>

<div class="error_box">
<?php echo $this->message; ?>
</div>

<?php 
echo $this->form;

$buttons = new Snep_Buttons();
$buttons->addOption('delete', 'snep_form', true);
$buttons->addOption('cancel', $this->baseUrl().'/index.php/music-on-hold/');
echo $buttons->getHtml();
?>