<?php
$this->headLink()->appendStylesheet($this->baseUrl() . '/modules/default/css/form.css');
// Help
$this->headScript()->appendFile($this->baseUrl() . '/includes/colorbox/jquery.colorbox-min.js');
$this->headLink()->appendStylesheet($this->baseUrl() . "/includes/colorbox/colorbox.css" );

$title = new Snep_Title("Entries");
$title->addOption('import', $this->baseUrl() . "/index.php/default/contacts/import");
$title->addOption('export', $this->baseUrl() . "/index.php/default/contacts/export");
echo $title->getHtml();
echo Snep_Bar::get(
        $this->translate("new contact"), 
        $this->translate("contats"), 
        $this->baseUrl() . "/index.php/default/contacts",
        'add',
        NULL,
        True);

echo $this->form;
?>
<div style='display:none'>
    <div id='inline_content'>
        <h2>Agenda de Contatos - Incluir</h2>
        <p>
            Preencha o formul&aacute;rio corretamente com as informa&ccedil;&otilde;es
            de contato.Os campos <strong>Nome</strong>, <strong>Telefone</strong> 
            e <strong>Celular</strong> s&atilde;o de preenchimento obrigat&oacute;rio.
        </p>
        <p>
            <strong>Código:</strong>Identificará o cadastro do Contato. O Sistema 
            sempre irá inserir um código baseado no código de valor mais alto já 
            cadastrado.
        </p>
        <p>
            <strong>Nome:</strong>Nome do que identifica o Contato.
        </p>
        <p>
            <strong>Endereço, Cidade, Estado CEP:</strong> Dados de endereço do Contato.
        </p>
        <p>
            <strong>Telefone:</strong>
            Identifica o telefone Fixo do Contato. Atente para o formato de entrada: 
            SOMENTE Números.
        </p>
        <p>
            <strong>Celular:</strong>
            Identifica o telefone Celular do Contato. Atente para o formato de
            entrada:  SOMENTE Números.
        </p>
        </p>
   </div>
</div>



<?php
$buttons = new Snep_Buttons();
$buttons->addOption('save', 'snep_form', true);
$buttons->addOption('cancel', $this->baseUrl() . '/index.php/contacts/');
echo $buttons->getHtml();
?>

<script type="text/javascript">

    $(document).ready(function() {
        $(".more_description").click(function(e) {
            $('.description_form').animate({height: "100%", }, 500);
            $("#text_description").show();
            $(".less_description").show();
            $(".more_description").hide();
            e.preventDefault();
        });
        $(".less_description").click(function(e) {
            $(".description_form").animate({height: "100%", }, 500);
            $("#text_description").hide();
            $(".more_description").show();
            $(".less_description").hide();
            e.preventDefault();
        });
    })
</script>

<script type="text/javascript">

    document.forms[0].elements[0].focus();
    $('#id').attr("autocomplete", "off");

    function inUse(i) {

        $.post('<?php echo $this->baseUrl(); ?>/index.php/contacts/inUse/', {id: i}, function(data) {
            $('.hint').eq(0).html(data);
        });

    }
    $("#id").keyup(function() {
        inUse($(this).val());
    });


</script>
