<?php
$this->headLink()->appendStylesheet($this->baseUrl() . '/modules/default/css/form.css');
// Help
$this->headScript()->appendFile($this->baseUrl() . '/includes/colorbox/jquery.colorbox-min.js');
$this->headLink()->appendStylesheet($this->baseUrl() . "/includes/colorbox/colorbox.css" );
$title = new Snep_Title("Entries");
$title->addOption('import', $this->baseUrl() . "/index.php/default/contacts/import");
$title->addOption('export', $this->baseUrl() . "/index.php/default/contacts/export");
$title->addOption('multiremove', $this->baseUrl() . "/index.php/default/contacts/multi-remove/");
echo $title->getHtml();
echo Snep_Bar::get(
        $this->translate("edit contact"), 
        $this->translate("contacts"), 
        $this->baseUrl() . "/index.php/default/contacts",
        'config',
        NULL,
        True);

echo $this->form;
?>
<div style='display:none'>
    <div id='inline_content'>
        <h2>Agenda de Contatos - Alterar Contato</h2>
        <p>
            Preencha o formul&aacute;rio corretamente com as informa&ccedil;&otilde;es 
            de contato. Os campos <strong>Nome</strong>, <strong>Telefone</strong> 
            e <strong>Celular</strong> s&atilde;o de preenchimento obrigat&oacute;rio.
        </p>
        <p>
            <strong>Código:</strong>Identificará o cadastro do Contato. O Sistema sempre irá sugerir um código baseado
            no código de valor mais alto já cadastrado.
        </p>
        <p>
            <strong>Nome:</strong>Nome do que identifica o Contato.
        </p>
        <p>
            <strong>Endereço, Cidade, Estado CEP: Dados de endereço do Contato.</strong>
        </p>
        <p>
            <strong>Telefone:</strong>
            Identifica o telefone Fixo do Contato. Atente para o formato de entrada: 
            SOMENTE Números.
        </p>
        <p>
            <strong>Celular:</strong>
            Identifica   o   telefone   Celular   do   Contato.   Atente   para   
            o   formato   de   entrada:  SOMENTE Números.
        </p>
        <p>
            <strong>Apagar Múltiplos:</strong>
            Remete a uma tela onde é possível remover varios contatos de uma vez.
        </p>
        </p></span>
    </div>
</div>
<?php
$buttons = new Snep_Buttons();
$buttons->addOption('save', 'snep_form', true);
$buttons->addOption('cancel', $this->baseUrl() . '/index.php/contacts/');
echo $buttons->getHtml();
?>

<script type="text/javascript">

    $(document).ready(function() {
        $(".more_description").click(function(e) {
            $('.description_form').animate({height: "100%", }, 500);
            $("#text_description").show();
            $(".less_description").show();
            $(".more_description").hide();
            e.preventDefault();
        });
        $(".less_description").click(function(e) {
            $(".description_form").animate({height: "100%", }, 500);
            $("#text_description").hide();
            $(".more_description").show();
            $(".less_description").hide();
            e.preventDefault();
        });
    })
</script>